.timerDisplay {
    color: white;
    width: 100%;
}

.configGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    max-width: auto;

}

.controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}


@media (min-width: 768px) {
    .timerDisplay {
        padding: 1rem;
    }

    .configGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 480px) {
    .configGrid {
        grid-template-columns: 1fr;
        padding: 1rem;
        margin-left: 20px;
    }
}

